body{
    background-color: powderblue;
}

h1, h3{
    color: rgb(170, 134, 142);
}

hr{
    background-color: red;
    border-style: dotted;
    height: 2px; width: 90%;
}

.top-container{
    background-color:blue;
    border: 10px;
    border-style:solid;
    padding: 20px;
    width:200px;
    height:200px;
}

.mid-container{
    background-color: red;
    border: 20px;
    border-style:solid;
    width:400px;
    height:200px;

}

.bottom-container{
    background-color:yellow;
    border: 10px;
    border-style:solid;
    width:200px;
    height:200px;
}