/* First Screen */
.first-screen{
    background-color: #b83c08;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    width: 105%;
    display: inline-block;
    left: 0;
    top: 0;
} 

#my-links-id{
    color: #fff1e1;
    font: "Monaco";
    position: relative;
    text-align: center;
    top: 340px;
}

#my-name-id{
    color: #fff1e1;
    font: "Monaco";
    position: relative;
    text-align: center;
    top: 180px;
}

#my-pic-id{
    height: 450px;
    left: 40.5%;
    position: relative;
    top: 180px;
    width: 20%;
}
/* First Screen CSS Property Ends Here */

/* About Me CSS Property Starts Here */
.about-screen{
    background-color: #1d3c45;
    height: 1000px;
    margin: 1px;
    width: 62%;
    position: relative;
    text-align: center;
    display: inline-block;
}

#about-me-id{
    color: #fff1e1;
    font: "Sans serif";
    position: relative;
    text-align: center;
    display: inline-block;
}

#about-screen-displays{
    display: inline-block;
    /* justify-content: center; */
}

.about-talk-screen{
    background-color: #fff1e1;
    height: 1000px;
    text-align: center;
    width: 62%;
    position: relative;
    bottom: 1000px;
    left: 1000px;
    display: inline-block;
}
/* About Me CSS Property Ends Here */

/* Work Experience CSS Property Starts Here */
.work-experience-screen{
    background-color: #fff1e1;
    height: 1000px;
    text-align: center;
    position: relative;
    bottom: 1000px;
    display: inline-block;
    width: 52.5%;
}

#work-experience-id{
    color: #1d3c45;
    font: "Sans serif";
    position: relative;
    text-align: center;
    top: 450px;
    left: 25%;
}

.explain-work-screen{
    background-color: #1d3c45;
    height: 1000px;
    text-align: center;
    position: relative;
    bottom: 2020px;
    left: 52.5%;
    width: 52.5%;
}

#work-experience-displays{
    display: flex;
    justify-content: center;
}

/* Work Experience CSS Property Ends Here */

/* Contact Me CSS Property Starts Here */
.contact-me-screen{
    background-color: #1d3c45;
    height: 1000px;
    text-align: center;
    margin: -25px;
    padding: 30px;
    position: relative;
    bottom: 2000px;
    width: 50.7%;
}

.contact-me-id{
    height: 1000px;
    text-align: center;
    margin: -25px;
    padding: 30px;
}

.explain-contact-screen{
    background-color: #fff1e1;
    height: 1000px;
    text-align: center;
    margin: -25px;
    padding: 30px;
    position: relative;
    bottom: 3009px;
    left: 53.9%;
    width: 50%;
    display: inline-block;
}
/* Contact Me CSS Property Ends Here */

/* Closing Screen CSS Property Starts Here*/
.closing-screen{
    width: 105%;
    height: 250px;
    background-color: #b83c08;
    position: relative;
    bottom: 3962px;
}
/* */
h1, h3{
    color: rgb(170, 134, 142);
}

hr{
    background-color: red;
    border-style: dotted;
    height: 2px; width: 90%;
}

/* Signatures */
.copyright-signature{
    color: black;
    text-align: center;
    margin: -25px;
    padding: 30px;
    position: relative;
    top: 700px;
}
